Bienvenue {{firstName}},

Merci d'avoir créé votre compte sur fisweets.fr.
Vous allez maintenant pouvoir vous connecter à votre compte et bénéficier de vos avantages:
    - Vous pouvez maintenant cumuler des points de fidélités.
    - Un euro dépenser = 1 point de fidélité créditer sur votre compte à chaque commande.
    - Vous pouvez bénéficier de récompenses en fonction de vos points de fidélités.

A très vite sur fisweets.fr !

Cordialement,
L'équipe fisweets.fr
