Bonjour {{firstName}},

Votre commande (référence: {{commandId}}) a été traitée avec succès pour un montant de {{total}}€.

Nous vous remercions pour votre commande.

Cordialement,
L'équipe fisweets.fr
