Bonjour,

Voici votre lien de réinitialisation de mot de passe :
{{{resetLink}}}

Si vous n'avez pas demandé de réinitialisation de mot de passe, ignorez ce message.

Cordialement,
L'équipe fisweets.fr
